.body1
{
		background-color: #FFF9D1 ;
		font-family: 'Poppins';	
}
#nav-bar
{
    padding: 1% 2%;
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	padding: 0 !important;
}

.navbar-brand img
{
	
	height: 40px;
	padding-left: 20px;
}
#navbar-nav li
{
	padding: 0 10px;
	
}
.navbar-nav li a
{
	color: #1A1B1C !important;
	font-weight: 650;
	float: right;
	text-align: left;
	letter-spacing: 0.5px;
}
.nav-item a:hover 
{
        background-color: #EB984E ;
        color: #ffffff;
        border-radius: 5px;
}
/*----------------------------------------------Carousel section-------------------------------------------------------*/
/* .carousel-item{
    height: 200px;
	background-size: auto;
}
.carousel-item img{
	width: 50%;
	background-size: auto;
} */

/*----------------------------------------------Recipe section-------------------------------------------------------*/
.items{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 30px 20px;
	grid-column-gap: 20px;
	grid-row-gap: 30px;
}
.item img{
	width: 100%;
	height: 300px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	object-fit: cover;
	cursor: pointer;
	transition: 0.2s ease;
}
.item img:hover{
	transform: scale(1.04);
}
.item h3{
	padding: 5px;
	text-align: center;
	font-family: 'Poppins';
	font-size: 26px;
}
.item button{
	padding: 5px 30px;
	border: solid#1e272e;
	outline: none;
	background-color: #485460;
	cursor: pointer;
	border-radius: 100px;
	font-size: 20px;
	display: block;
	margin: 0 auto;
	transition: 0.2s all;
}
.item a:hover, a:link, a:visited, a:active{
	color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}
.item a:hover{
	color: black;
}
.item button:hover{
	
	transform: scale(1.20);
	
}

.itemers .imageopenpopup{
	position: fixed;
	top: 0; left: 0;
	background: rgba(0, 0, 0, .9);
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}


.itemers .imageopenpopup span{
	position: absolute;
	top: 0; right: 10px;
	font-size: 40px;
	font-weight: bolder;
	color: #fff;
	cursor: pointer;
	z-index: 100;
}

.itemers .imageopenpopup img{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #fff;
	border-radius: 5px;
	width: 550px;
	height: 450px;
	object-fit: cover;
}
@media screen and (max-width: 1000px) {
	.items{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 768px) {
	.items{
		grid-template-columns: repeat(1, 1fr);
	}
}
