/**-- NAVBAR --**/
.navbar {
    padding: 8px;
    margin: 0 auto;
    width: auto;
    height: auto;

}

.menu ul{
    list-style: none;
    padding: 10px 50px 10px 50px;
    margin: 0;
    text-align: right;
}

.menu li{
    display: inline-block;
}

.menu a{
    padding-right: 60px;
    font-family: 'Poppins';
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    text-align: center;
}

.menu a:hover{
    color: #EAB543;
}

.menu a:active{
    color: #fdcb6e;
}

/** -- END -- **/

/**header column-1**/
.header-row{
    height: 100%;
    min-height: 400px;
    width: auto;
    padding: 70px 50px 70px 50px;
    display: flex;

}

.column{
    padding: 5% 0;
    flex: 50%;
}

.header-btn{
    border: solid white;
    padding: 10px 50px 10px 50px;
    border-radius: 100px;
    color: #fdcb6e;
}

.header-btn a{

    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    color: #fdcb6e;
    text-align: center;

}

body {
    background-image: url(https://photokitchenfood.com/wp-content/uploads/2017/01/2017-Q1-Slider5.jpg);
    background-repeat: no-repeat;
    background-size: 1400px 700px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

h1 {
    color: white;
    font-size: 60px;
    padding: 0;
}

h4 {
    color: white;
    font-size: 30px;
    padding: 0;
}

/**---- end ------ **/

/** dessert **/

.b1
{
		background-color: #FFF9D1 ;
		font-family: Georgia;	
}
#nav-bar
{
    padding: 1% 2%;
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	padding: 0 !important;
}
.navbar-brand img
{
	
	height: 40px;
	padding-left: 20px;
}
#navbar-nav lin
{
	padding: 0 10px;
}
.navbar-nav li a
{
	color: #1A1B1C !important;
	font-weight: 650;
	float: right;
	text-align: left;
	letter-spacing: 0.5px;
}
.nav-item a:hover 
{
        background-color: #EB984E ;
        color: #ffffff;
        border-radius: 5px;
}
/*----------------------------------------------Carousel section-------------------------------------------------------*/
/* .carousel-item{
    height: 200px;
	background-size: auto;
}
.carousel-item img{
	width: 50%;
	background-size: auto;
} */

/*----------------------------------------------Recipe section-------------------------------------------------------*/
#Findme{
    color: white;
}

#toptop {
    color: white;
    font-size: 15px;
    font-family: 'poppins';
}


.items{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 30px 20px;
	grid-column-gap: 20px;
	grid-row-gap: 30px;
}
.item img{
	width: 100%;
	height: 300px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	object-fit: cover;
	cursor: pointer;
	transition: 0.2s ease;
}
.item img:hover{
	transform: scale(1.04);
}
.item h3{
	padding: 5px;
	text-align: center;
	font-family: 'Poppins';
	font-size: 26px;
}
.item button{
	padding: 15px 75px;
	border: solid#1e272e;
	outline: none;
	cursor: pointer;
	border-radius: 100px;
	font-size: 20px;
	display: block;
	margin: 0 auto;
	transition: 0.2s all;
}
.items a:hover, a:link, a:visited, a:active{
	color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}


@media screen and (max-width: 1000px) {
	.items{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 768px) {
	.items{
		grid-template-columns: repeat(1, 1fr);
	}
}






